/* Font size sysytem in (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 /
 44 / 52 / 62 / 74 / 86 / 98 */


/* Spacing systme in (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px/16px = 0.625=62.5% */
    /* percentage of user's browsers font-size  */
    font-size: 62.5%;
    /* overflow-x: hidden; */
    overflow-x: hidden;
}

body {
    /* color: #444; */
    color: #343a40;
    font-family: 'Poppins', sans-serif;
}

.heading-primary {
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
    color: #000;
    font-weight: 700;
    line-height: 1.1;
}

.heading-sechondary {
    font-size: 3.2rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.heading-tertiary {
    font-size: 2.8rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 3.2rem;

}